body{
  background: #91A2A8;
}
#wrapper{
  background: #FFFFFF;
  width: 800px;
  margin: 50px auto;
}
#header {
  background: #5DE8B0;
  padding: 20px;
  color: white;
	overflow: hidden;
}
#header h1{
  text-align: justify;
	line-height: 12px;
	float: left;
}
 nav{
  float: right;
	line-height: 12px;
}
